@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-50 font-body antialiased;
}

a {
  @apply text-brand-300 hover:text-brand-200 transition-colors;
}
